.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #6a4040;
    color: white;
  }
  .hi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-top: 50px;
  }
  
  .hi input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    background-color: #1c1c1c;
    color: white;
  }
  
  .hi input:focus {
    outline: none;
  }
  
  .hi button[type="submit"] {
    width: 100%;
    background-color: #f9a51a;
    color: #1c1c1c;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
  }
  
  .hi button[type="submit"]:hover {
    background-color: #d1b919;
  }
  
  .hi p {
    margin-top: 30px;
    text-align: center;
  }
  
  .hi p a {
    color: #f9a51a;
    text-decoration: none;
  }
  
  .hi p a:hover {
    text-decoration: underline;
  }